
<button class="nav-tgl" type="button" aria-label="toggle menu">
  <span aria-hidden="true"></span>
</button>

 
<nav id="nav-main" class="nav-main" role="navigation">

  <ul class="main-ul">
  <a id='logofull' href=""><h2>Camille</h2></a>
  {% for item in menu.main.get_items %}
    <li class="nav-item main-level {{item.classes | join(' ')}}">
      <a class="nav-link" href="{{item.get_link}}">{{item.title}}</a>
      {% if item.get_children %}
        <ul>
        {% for child in item.get_children %}
          <li class="nav-drop-item {{child.classes | join(' ')}}">
            <a class="nav-link" href="{{child.get_link}}">{{child.title}}</a>
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
  
</nav>



<script>
document.querySelector('.nav-tgl').addEventListener('click', window.scroll({top: 0, left: 0, behavior: 'smooth'}));
</script>


